---
import Layout from '@layouts/Layout.astro';
import MetaData from '@layouts/MetaData.astro';
---

<Layout>
  <MetaData title="Yusu.log" description="개발 기록 공간" slot="meta" />
  <h2>Posts</h2>
</Layout>
