---
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="개발자 장유수 이력서"
  description="안녕하세요! Yusu.log에 오신 것을 환영합니다. 저는 프론트엔드 개발을 하고 있으며 제 기술 스택과 개발 이력을 소개하고 있습니다. 다양한 프로젝트 경험과 기술 스택을 바탕으로, 더 나은 개발자가 되기 위해 공부하고 있습니다."
>
  <header>
    <h1 class="text-2xl md:text-3xl font-bold">개발자 장유수</h1>
    <p class="mt-4 text-sm text-gray-500 dark:text-gray-500">
      2022년 5월 24일에 마지막으로 업데이트 됨.
    </p>
  </header>
  <main class="mt-16 space-y-28">
    <section>
      <div class="mb-10">
        <h3
          class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase"
        >
          Profile
        </h3>
        <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">
          프로필
        </h2>
      </div>
      <div class="md:flex">
        <img
          src="https://github.com/Jangyusu/yusu.log/assets/60203731/be3e016f-f7f2-443c-81fb-47a78226a91c"
          alt="profile"
          class="w-24 h-24 rounded-3xl object-cover"
        />
        <div class="space-y-10 mt-10 md:mt-4 md:ml-10">
          <dl class="flex">
            <dt class="flex flex-col uppercase font-semibold w-28">
              <span class="text-xs text-gray-400 dark:text-gray-600">Name</span>
              <span class="text-lg text-gray-700 dark:text-gray-300">이름</span>
            </dt>
            <dd class="flex-1 text-lg">장유수</dd>
          </dl>
          <dl class="flex">
            <dt class="flex flex-col uppercase font-semibold w-28">
              <span class="text-xs text-gray-400 dark:text-gray-600"
                >Birthday</span
              >
              <span class="text-lg text-gray-700 dark:text-gray-300"
                >생년월일</span
              >
            </dt>
            <dd class="flex-1 text-lg">1995년 8월 28일</dd>
          </dl>
          <dl class="flex">
            <dt class="flex flex-col uppercase font-semibold w-28">
              <span class="text-xs text-gray-400 dark:text-gray-600">Email</span
              >
              <span class="text-lg text-gray-700 dark:text-gray-300"
                >이메일</span
              >
            </dt>
            <dd class="flex-1 text-lg">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="mailto:dbtnss@naver.com"
                class="hover:underline break-all">dbtnss@naver.com</a
              >
            </dd>
          </dl>
          <dl class="flex">
            <dt class="flex flex-col uppercase font-semibold w-28">
              <span class="text-xs text-gray-400 dark:text-gray-600"
                >Channel</span
              >
              <span class="text-lg text-gray-700 dark:text-gray-300">채널</span>
            </dt>
            <dd class="flex-1 leading-7">
              <ul class="list-disc pl-4 space-y-2">
                <li>
                  <span
                    class="rounded-sm p-0.5 bg-gray-200 text-gray-800 dark:text-gray-800"
                    >Github</span
                  > |
                  <a
                    target="_blank"
                    href="https://github.com/Jangyusu"
                    class="underline break-all text-cyan-500 dark:text-cyan-500"
                    >https://github.com/Jangyusu</a
                  >
                </li>
                <li>
                  <span
                    class="rounded-sm p-0.5 bg-gray-200 text-gray-800 dark:text-gray-800"
                    >Blog</span
                  > |
                  <a
                    target="_blank"
                    href="https://jangyusu.github.io/yusu.log/"
                    class="underline break-all text-cyan-500 dark:text-cyan-500"
                    >https://jangyusu.github.io/yusu.log/</a
                  >
                </li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </section>
    <section>
      <div class="flex">
        <div class="w-28">
          <h3
            class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase"
          >
            Introduce
          </h3>
          <h2 class="text-2xl text-gray-800 dark:text-gray-200 font-semibold">
            소개
          </h2>
        </div>
        <div class="flex-1 space-y-10">
          <ul class="list-disc pl-10 space-y-3">
            <li>안녕하세요! 3년 차 프론트엔드 개발자 장유수입니다.</li>
            <li>
              현재 개발자로서의 성장을 기록하기 위해 개인 기술 블로그를 운영하고
              있습니다.
            </li>
            <li>
              무엇보다 새로운 언어와 기술을 배우는 것을 좋아하며, 더 나은 코드를
              작성하기 위해 항상 고민하고 있습니다.
            </li>
            <li>게임과 영화, 그리고 팝콘을 즐겨먹는 개발자입니다. 🍿</li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <div class="mb-12">
        <h3
          class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase"
        >
          Skills
        </h3>
        <h2 class="text-2xl text-gray-800 dark:text-gray-200 font-semibold">
          기술
        </h2>
      </div>
      <div class="space-y-10">
        <dl class="flex items-start">
          <dt class="flex flex-col uppercase font-semibold w-28">
            <span class="text-xs text-gray-400 dark:text-gray-600"
              >Front-end</span
            >
            <span class="text-gray-700 dark:text-gray-300">프론트엔드</span>
          </dt>
          <dd class="flex-1">
            <ul class="list-disc pl-10 space-y-3">
              <li>HTML5, CSS(SCSS), JS(ES6)</li>
              <li>React.js (Next.js) - Redux, React-Query, Zustand</li>
              <li>Vue.js - Vuex</li>
              <li>Typescript</li>
              <li>Websocket</li>
              <li>WebRTC</li>
            </ul>
          </dd>
        </dl>
        <dl class="flex items-start">
          <dt class="flex flex-col uppercase font-semibold w-28">
            <span class="text-xs text-gray-400 dark:text-gray-600"
              >Collaboration</span
            >
            <span class="text-gray-700 dark:text-gray-300">협업</span>
          </dt>
          <dd class="flex-1">
            <ul class="list-disc pl-10 space-y-3">
              <li>Jira & Bitbucket & Confluence</li>
              <li>Slack</li>
            </ul>
          </dd>
        </dl>
      </div>
    </section>
    <section>
      <div class="mb-12">
        <h3
          class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase"
        >
          Experience
        </h3>
        <h2 class="text-2xl text-gray-800 dark:text-gray-200 font-semibold">
          경력
        </h2>
      </div>
      <div class="space-y-10">
        <div>
          <div
            class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase"
          >
            2020년 7월 ~ 현재
          </div>
          <div class="font-semibold mb-3">
            <div class="flex items-center">
              <span class="font-semibold">구루미 (Gooroomee)</span>
              <span class="ml-2 text-cyan-500 dark:text-cyan-500"
                >Frontend Engineer</span
              >
            </div>
          </div>
          <div class="leading-7 md:leading-8">
            <p
              class="py-2 px-4 rounded-lg bg-gray-200 dark:bg-gray-800 break-keep"
            >
              실시간 화상 서비스로서 사용자들이 웹캠과 마이크를 통해 상대방과
              얼굴을 보며 대화하고 화면을 공유할 수 있는 서비스의 프론트엔드
              개발자로 근무하고 있습니다.
            </p>
          </div>
          <ul class="mt-4 pl-4 list-disc space-y-2">
            <li>
              Vue.js + Vuex + Websocket + WebRTC 를 사용한 실시간 화상 서비스
              개발 및 유지보수
            </li>
            <li>
              Next.js + Typescript + Zustand 를 사용한 서비스 페이지 및 관리자
              페이지 개발 및 유지보수
            </li>
            <li>
              개발 문화 개선을 위한 코드 리뷰 문화 도입 및 코드 리뷰 가이드 작성
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <div class="mb-12">
        <h3
          class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase"
        >
          Activity
        </h3>
        <h2 class="text-2xl text-gray-800 dark:text-gray-200 font-semibold">
          활동
        </h2>
      </div>
      <div class="space-y-10">
        <div>
          <div
            class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase"
          >
            2023년 5월 ~ 현재
          </div>
          <div class="font-semibold mb-3">
            <div class="flex items-center">
              <span class="font-semibold">코드스테이츠 멘토링</span>
              <span class="ml-2 text-cyan-500 dark:text-cyan-500"
                >Developer Mentor
              </span>
            </div>
          </div>
          <div class="leading-7 md:leading-8">
            <p
              class="py-2 px-4 rounded-lg bg-gray-200 dark:bg-gray-800 break-keep"
            >
              코드스테이츠에서 진행하는 코딩 부트캠프에서 예비 개발자 멘티들에게
              방향성을 제시하고, 개발에 대한 도움을 주는 활동을 하고 있습니다.
            </p>
          </div>
          <ul class="mt-4 pl-4 list-disc space-y-2">
            <li>
              여러 멘티들을 동시에 맡아 멘토링을 진행하였고, 멘토링을 통해
              멘티들에게 도움을 주는 것은 물론이고, 저에게도 많은 도움이
              되었습니다.
            </li>
            <li>
              멘티들이 질문하는 것을 들으면서 내가 무엇을 모르고 있는지, 무엇을
              더 공부해야 하는지 알게 되었고, 멘티들에게 설명하면서 내가 무엇을
              알고 있는지, 무엇을 더 잘 알고 있는지 알게 된 좋은 경험이었습니다.
            </li>
            <li>
              또한, 멘토로서 다른 사람들을 도와주고 지식을 공유하는 과정에서
              자신감이 높아지고, 리더십과 커뮤니케이션 능력도 향상되었습니다.
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <div class="mb-12">
        <h3
          class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase"
        >
          Education
        </h3>
        <h2 class="text-2xl text-gray-800 dark:text-gray-200 font-semibold">
          학력
        </h2>
      </div>
      <div class="space-y-10">
        <div>
          <div
            class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase"
          >
            2019년 12월 ~ 2020년 6월
          </div>
          <div class="font-semibold mb-3">
            <div class="flex items-center">
              <span class="font-semibold">그린컴퓨터 아카데미 수료</span>
            </div>
          </div>
          <div class="leading-7 md:leading-8">
            <p
              class="py-2 px-4 rounded-lg bg-gray-200 dark:bg-gray-800 break-keep"
            >
              그린컴퓨터 아카데미에서 진행하는 프론트엔드 개발 과정을
              수료하였습니다.
            </p>
          </div>
          <ul class="mt-4 pl-4 list-disc space-y-2">
            <li>HTML, CSS, Javascript, jQuery 를 사용한 정적 웹 페이지 제작</li>
            <li>페어 프로그래밍, 팀 프로젝트를 통한 협업 경험</li>
          </ul>
        </div>
        <div>
          <div
            class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase"
          >
            2014년 3월 ~ 2019년 2월
          </div>
          <div class="font-semibold mb-3">
            <div class="flex items-center">
              <span class="font-semibold">인하공업전문대학교 전기정보과</span>
            </div>
          </div>
          <div class="leading-7 md:leading-8">
            <p
              class="py-2 px-4 rounded-lg bg-gray-200 dark:bg-gray-800 break-keep"
            >
              대학에서 전자회로, 디지털회로, 마이크로프로세서, 자료구조,
              알고리즘 등을 배우고, C++, Python 등을 사용하여 프로그래밍을
              배웠습니다.
            </p>
          </div>
          <ul class="mt-4 pl-4 list-disc space-y-2">
            <li>
              대학에서 처음 프로그래밍을 접하고 프로그래밍 개발에 흥미를 느껴
              졸업 후 개발자로 취업하기 위해 공부를 시작
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</Layout>
