---
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="개발자 장유수 이력서 - Yusu.log"
  description="안녕하세요! Yusu.log에 오신 것을 환영합니다. 저는 프론트엔드 개발을 하고 있으며 이곳에서는 제 개발 이력과 역량을 소개하고 있습니다. 다양한 프로젝트 경험과 기술 스택을 바탕으로, 더 나은 개발자가 되기 위해 공부하고 있습니다."
>
  <header>
    <h1 class="text-2xl md:text-3xl font-bold">개발자 장유수</h1>
    <p class="mt-4 text-sm text-gray-500 dark:text-gray-500">
      2022년 5월 24일에 마지막으로 업데이트 됨.
    </p>
  </header>
  <main class="mt-16 space-y-28">
    <section>
      <div class="mb-10 relative">
        <h3
          class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase absolute bottom-full"
        >
          Profile
        </h3>
        <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">
          프로필
        </h2>
      </div>
      <div class="md:flex">
        <img
          src="https://github.com/Jangyusu/yusu.log/assets/60203731/be3e016f-f7f2-443c-81fb-47a78226a91c"
          alt="profile"
          class="w-24 h-24 rounded-3xl object-cover"
        />
        <div class="space-y-10 mt-10 md:mt-4 md:ml-10">
          <dl class="flex">
            <dt class="flex flex-col uppercase font-semibold w-28 relative">
              <span
                class="text-xs text-gray-400 dark:text-gray-600 absolute bottom-full"
                >Name</span
              >
              <span class="text-lg text-gray-700 dark:text-gray-300">이름</span>
            </dt>
            <dd class="flex-1 text-lg">장유수</dd>
          </dl>
          <dl class="flex">
            <dt class="flex flex-col uppercase font-semibold w-28 relative">
              <span
                class="text-xs text-gray-400 dark:text-gray-600 absolute bottom-full"
                >Birthday</span
              >
              <span class="text-lg text-gray-700 dark:text-gray-300"
                >생년월일</span
              >
            </dt>
            <dd class="flex-1 text-lg">1995년 8월 28일</dd>
          </dl>
          <dl class="flex">
            <dt class="flex flex-col uppercase font-semibold w-28 relative">
              <span
                class="text-xs text-gray-400 dark:text-gray-600 absolute bottom-full"
                >Email</span
              >
              <span class="text-lg text-gray-700 dark:text-gray-300"
                >이메일</span
              >
            </dt>
            <dd class="flex-1 text-lg">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="mailto:dbtnss@naver.com"
                class="hover:underline break-all">dbtnss@naver.com</a
              >
            </dd>
          </dl>
        </div>
      </div>
    </section>
    <section>
      <div class="flex">
        <div class="w-28 relative">
          <h3
            class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase absolute bottom-full"
          >
            Introduce
          </h3>
          <h2 class="text-2xl text-gray-800 dark:text-gray-200 font-semibold">
            소개
          </h2>
        </div>
        <div class="flex-1 space-y-10">
          <ul class="list-disc pl-10 space-y-3">
            <li>안녕하세요! 3년 차 프론트엔드 개발자 장유수입니다.</li>
            <li>
              현재 개발자로서의 성장을 기록하기 위해 개인 기술 블로그를 운영하고
              있습니다.
            </li>
            <li>
              무엇보다 새로운 기술을 배우는 것을 좋아하며, 더 나은 개발자가 되기
              위해 끊임없이 공부하고 있습니다.
            </li>
            <li>콘솔 게임을 즐겨하며, 영화와 드라마를 보는 것을 좋아합니다.</li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <div class="mb-12 relative">
        <h3
          class="text-sm font-medium text-gray-400 dark:text-gray-600 uppercase absolute bottom-full"
        >
          Skills
        </h3>
        <h2 class="text-2xl text-gray-800 dark:text-gray-200 font-semibold">
          기술
        </h2>
      </div>
      <div class="space-y-10">
        <dl class="flex items-start">
          <dt class="flex flex-col uppercase font-semibold w-28 relative">
            <span
              class="text-xs text-gray-400 dark:text-gray-600 absolute bottom-full"
              >Front-end</span
            >
            <span class="text-gray-700 dark:text-gray-300">프론트엔드</span>
          </dt>
          <dd class="flex-1">
            <ul class="list-disc pl-10 space-y-3">
              <li>React.js (Next.js)</li>
              <li>Vue.js</li>
              <li>Typescript</li>
            </ul>
          </dd>
        </dl>
      </div>
    </section>
  </main>
</Layout>
