---
import { getCollection } from 'astro:content';
import CategoryList from '@/components/CategoryList.astro';
import PostList from '@/components/PostList.astro';
import Layout from '@layouts/Layout.astro';
import MetaData from '@layouts/MetaData.astro';
import Footer from '@/components/Footer.astro';

const postEntries = await getCollection('post');
const selectedCategory = Astro.url.searchParams.get('category') || 'all';
const postEntriesByCategory = postEntries.filter((post) =>
  selectedCategory === 'all'
    ? true
    : post.data.category.includes(selectedCategory)
);
const allCategories = [
  ...new Set(postEntries.flatMap((post) => post.data.category)),
];
---

<Layout wideScreen>
  <MetaData title="Yusu.log" description="개발 기록 공간" slot="meta" />
  <div class="flex flex-col md:flex-row gap-10">
    <div class="min-w-0 flex-1">
      <PostList posts={postEntriesByCategory} />
    </div>
    <div class="w-full h-max md:w-[13rem] md:sticky md:top-10">
      <CategoryList
        categories={allCategories}
        selectedCategory={selectedCategory}
      />
      <Footer />
    </div>
  </div>
</Layout>
