---
interface Props {
  link: string;
}

let { link } = Astro.props;
const { BASE_URL } = import.meta.env;

const isExternal = link?.toString().includes('http');
if (!isExternal) {
  link = BASE_URL + link;
}
---

<>
  {
    link ? (
      <a href={link}>
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</>
