---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

let { href, ...props } = Astro.props;
const { BASE_URL } = import.meta.env;

const isExternal = href?.toString().includes('http');
if (!isExternal) {
  href = BASE_URL + href;
}

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
  href={href}
  class:list={[
    isActive
      ? 'font-bold text-black dark:text-white'
      : 'text-gray-800 hover:text-black dark:text-gray-200 dark:hover:text-white',
  ]}
  {...props}
>
  <slot />
</a>
