---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
  href={`${import.meta.env.BASE_URL}${href}`}
  class:list={[
    'transition',
    isActive
      ? 'font-bold text-black dark:text-white'
      : 'text-slate-800 hover:text-black dark:text-slate-200 dark:hover:text-white',
  ]}
  {...props}
>
  <slot />
</a>
