---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

let { href, ...props } = Astro.props;
const { BASE_URL } = import.meta.env;

const isExternal = href?.toString().includes('http');
if (!isExternal) {
  href = BASE_URL + href;
}

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
  href={href}
  class:list={[
    'text-sm',
    isActive ? 'font-bold text-black dark:text-white' : 'hover:underline',
  ]}
  {...props}
>
  <slot />
</a>
