---
import ConditionalLink from '@components/ConditionalLink.astro';

interface Props {
  name: string;
  isSelected?: boolean;
  isActivate?: boolean;
}

const { name, isSelected = false, isActivate = false } = Astro.props;
---

<ConditionalLink link={isActivate ? `tags/${name}` : ''}>
  <div
    class:list={[
      'flex gap-1 rounded-full text-sm px-3 py-1 border border-slate-900 dark:border-slate-100 transition',
      [
        isSelected
          ? 'text-slate-100 dark:text-slate-900 bg-slate-900 dark:bg-slate-100'
          : 'text-slate-900 dark:text-slate-100',
      ],
      {
        'hover:bg-slate-100 dark:hover:text-slate-900':
          !isSelected && isActivate,
      },
    ]}
  >
    <span
      class:list={{
        'cursor-default': !isActivate,
      }}
    >
      {name}
    </span>
    {
      isSelected && (
        <button
          class="closeTag w-4 h-5 flex justify-center items-center material-symbols-rounded text-[20px]"
          aria-label="Close Tag"
        >
          backspace
        </button>
      )
    }
  </div>
</ConditionalLink>

<script>
  const closeTag = document.querySelector('.closeTag');
  closeTag?.addEventListener('click', (e) => {
    e.preventDefault();
    location.replace('/yusu.log/posts');
  });
</script>
