---
import TagItem from '@components/TagItem.astro';

interface Props {
  tags: string[];
  selectedTag?: string;
  isActivate?: boolean;
  class?: string;
}

const { tags, selectedTag, isActivate, class: className } = Astro.props;
---

<div class:list={['flex flex-wrap gap-x-2 gap-y-4', className]}>
  {
    tags.map((tag) => (
      <TagItem
        name={tag}
        isSelected={selectedTag === tag}
        isActivate={isActivate}
      />
    ))
  }
</div>
